
.book-card .card-img-top {
    width: 100px; 
    height: auto; 
    display: block;
    margin: 10px auto; 
    object-fit: cover; 
}

#books-container .book-card {
    margin-bottom: 100px; /* Adds space below each book card */
    width: 100%; /* Adjust if necessary, or remove if not needed */
    /* Keep other styles as they are */
}



.cart-item {
    border-bottom: 1px solid #ca1717;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
}
