
.book-card .card-img-top {
    width: 100px; 
    height: auto; 
    display: block;
    margin: 10px auto; 
    object-fit: cover; 
}

#books-container .book-card {
    margin-bottom: 100px; 
    width: 100%;
   
}

.book-details {
    display: none; 
    margin-top: 20px; 
    padding: 15px; 
    background-color: #f8f9fa; 
    border-radius: 5px; 
}

.toggle-cart-container {
    position: fixed; 
    top: 10px; 
    left: 10px; 
    z-index: 1000; 
}

.container {
    padding-top: 60px; 
}



@media (max-width: 768px) {
}
